<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    
    {% set page_title = page_title|default('Home') -%}<title>Voltaire | {{page_title}}</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/voltaire.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Voltaire</a>
        <ul class="nav">

          {% block navbar %}

          {% set navigation_bar = [
            ('/', 'index', 'Home'),
            ('/blog', 'blog', 'Blog'),
            ('/forums', 'forums', 'Forums'),
            ('/map', 'map', 'Map'),
            ('/donate', 'donate', 'Donate'),
            ('/dash', 'dash', 'Dash'),
            ('/signup', 'signup', 'Apply')
          ] -%}
          {% set active_page = active_page|default('index') -%}          

          {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          {% endblock %}

        </ul>
      </div><!--/navbar-inner-->
    </div><!--/navbar-->

    <div class="container" style="padding-top:5em;">
      {% block content %}{% endblock %}
    </div><!--/container-->

    {% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-alert.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tooltip.js"></script>
    {% endblock %}

  </body>
</html>


