{% extends "base.html" %}
{% set active_page = "dash" %}

{% block content %}
<div class="row-fluid">
    <div class="span11">
        <div class="row-fluid">
            {% for mcservers_iter in config['MCSERVERS'] %}
            <div class="dashboard-block {{ mcservers_iter['name'] }}-block span{{ 12 // NUMSERVERS }}">
                <img src="/static/img/ajax-loader.gif">
            </div><!--/{{ mcservers_iter['name'] }}-block-->
            {% endfor %}
        </div><!--/row-fluid-->
    </div><!--/span11-->
</div><!--/row-fluid-->
{% endblock %}
    
{% block javascripts %}
  {{ super() }}
  {% for mcservers_iter in config['MCSERVERS'] %}
    <script type="text/javascript">$(document).ready(function(){$('.{{ mcservers_iter['name'] }}-block').load('/mcstatus/{{ mcservers_iter['hostname'] }}/{{ mcservers_iter['port'] }}');var refreshId=setInterval(function(){$('.{{ mcservers_iter['name'] }}-block').load('/mcstatus/{{ mcservers_iter['hostname'] }}/{{ mcservers_iter['port'] }}')},15000);$.ajaxSetup({cache:false})});</script><!--mcstatus-->
  {% endfor %}
{% endblock %}
