<!DOCTYPE=html>
<html lang=en>
    <head>
        <title>voltaire-signup</title>
    </head>
    <body>
        <h1>aehuehuahuaehueh</h1>
        <form name="input" action="submit_application" method="post">
            Minecraft Username: <input type="text" name="mcusername"><br>
            Email Address: <input type="text" name="emailaddress"><br>
            Server: <input type="radio" name="servertype" value="vanilla">vanilla <input type="radio" name="servertype" value="ftb">ftb<br>
            Tells us some more about yourself: <br>
            <textarea name="aboutapp" rows="10" cols="40">
IGN:
Age:
Past servers:
Particular skills (redstone/farming/mining/creative build) :
            </textarea><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
