<h3>
    {#    {% if get_status['numplayers'] == 0 %} Nobody is being awesome right now.
    {% elif get_status['numplayers'] == 1 %} The Lone Ranger:
    {% elif get_status['numplayers'] > 1 %}{{ get_status['numplayers'] }} Minecrafters online now:
    {% endif %}#}
    {% if get_status['numplayers'] == 0 %}{{ get_status['numplayers'] }}/{{ get_status['maxplayers'] }}{% endif %}
</h3>

{% for PLAYER in get_status['players'] %}
  <a href="#" class="avatars" data-placement="bottom" data-toggle="tooltip" title="{{ PLAYER }}"><img src="https://minotar.net/helm/{{ PLAYER }}/60.png"></a>
{% endfor %}

<script type="text/javascript">$('.avatars').tooltip();</script>
