{% macro render_errorpage(error_code) %}

    <div class="row">
        <div class="jumbotron centerMe">
            <h2>
                {{error_code}}
                {% if error_code == "403" %}
                    Access Forbidden.

                {% elif error_code == "404" %}
                    Page Not Found.

                {% elif error_code == "500" %}
                    Server Error.

                {% endif %}
            </h2><!--/error title-->
        </div><!--/jumbotron-->
    </div><!--/row-->
        
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group">
      {{ field(class_="form-control", **kwargs)|safe }}
  </div><!--/form-group-->
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error }}
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
  <label class="checkbox">
    {{ field(class_="checkbox", **kwargs)|safe }} I accept the ToS!
  </label>
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error }}
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %} 

{% macro message_flasher() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {% if category %}alert-{{ category }}{% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div><!--/alert-->
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}

