<div class="vanillacontainer">
    <div class="vanilla">
        <h3>
            {% if vanillaNumPlayers == 0 %} Nobody is being awesome right now.
            {% elif vanillaNumPlayers == 1 %} The Lone Ranger:
            {% elif vanillaNumPlayers > 1 %}{{ vanillaNumPlayers }} Minecrafters online now:
            {% endif %}
            <span class="label">vanilla</span>
        </h3>
        {% for player in vanillaPlayers %}
        <a href="#" class="avatars" data-placement="bottom" style="display:inline-block" data-toggle="tooltip" title="{{ player }}"><img src="https://minotar.net/helm/{{ player }}/60.png"></a>
        {% endfor %}
    </div><!--/vanilla-->
</div><!--/vanillacontainer-->

<div class="ftbcontainer">
    <div class="ftb">
        <h3>
            {% if ftbNumPlayers == 0 %} Nobody is being awesome right now.
            {% elif ftbNumPlayers == 1 %} The Lone Ranger:
            {% elif ftbNumPlayers > 1 %}{{ ftbNumPlayers }} Minecrafters online now:{% endif %}
            <span class="label">ftb</span>
        </h3>
        {% for player in ftbPlayers %}
        <a href="#" class="avatars" data-placement="bottom" style="display:inline-block" data-toggle="tooltip" title="{{ player }}"><img src="https://minotar.net/helm/{{ player }}/60.png"></a>
        {% endfor %}
    </div><!--/ftb-->
</div><!--ftbcontainer-->

<script type="text/javascript">$('.avatars').tooltip();</script>
