<!doctype html>
<html lang="en">
	<head>
        <title>{{ site_title }}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/static/css/voltaire.css">
	</head>
	<body>



        <div class="container">
             <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">{{ site_title }}</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Dashboard</a></li>
                    </ul>
                </div><!--/navbar-inner-->
            </div><!--/navbar-->
           
            <div class="row-fluid">
                <div class="span11">
                    <div class="row-fluid">
                        <div class="dashboard-block vanilla-block span5">
                            <img src="/static/img/ajax-loader.gif">
                        </div><!--/vanilla-block-->
                        <div class="dashboard-block ftb-block span5 offset1">
                            <img src="/static/img/ajax-loader.gif">
                        </div><!--/ftb-block-->
                    </div><!--/row-fluid-->
                </div><!--/span11-->
            </div><!--/row-fluid-->
            
            <div class="vnstat">
                <img src="/static/img/ajax-loader.gif">
            </div><!--/vnstat-->

        </div><!--/container-->

        <script type="text/javascript">$(document).ready(function(){$('.vanilla-block').load('http://voltaire.sh/mcstatus/mc.voltaire.sh');var refreshId=setInterval(function(){$('.vanilla-block').load('http://voltaire.sh/mcstatus/mc.voltaire.sh')},15000);$.ajaxSetup({cache:false})});</script><!--mcstatus-->
        <script type="text/javascript">$(document).ready(function(){$('.ftb-block').load('http://voltaire.sh/mcstatus/ftb.voltaire.sh');var refreshId=setInterval(function(){$('.ftb-block').load('http://voltaire.sh/mcstatus/ftb.voltaire.sh')},15000);$.ajaxSetup({cache:false})});</script><!--mcstatus-->
        <script type="text/javascript">$(document).ready(function(){$('.vnstat').load('http://voltaire.sh/vnstat');});</script><!--vnstat-->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap-tooltip.js" type="text/javascript"></script>
    </body>
</html>
