<h3>
    {#    {% if NUM_PLAYERS == 0 %} Nobody is being awesome right now.
    {% elif NUM_PLAYERS == 1 %} The Lone Ranger:
    {% elif NUM_PLAYERS > 1 %}{{ NUM_PLAYERS }} Minecrafters online now:
    {% endif %}#}
    {% if NUM_PLAYERS == 0 %}{{ NUM_PLAYERS }}/{{ MAX_PLAYERS }}{% endif %}
</h3>

{% for PLAYER in ONLINE_PLAYERS %}
<a href="#" class="avatars" data-placement="bottom" style="display:inline-block" data-toggle="tooltip" title="{{ PLAYER }}"><img src="https://minotar.net/helm/{{ PLAYER }}/60.png"></a>
{% endfor %}

<script type="text/javascript">$('.avatars').tooltip();</script>
