<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        {% set page_title = page_title|default('') -%}<title>Voltaire | {{page_title}}</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="/static/css/voltaire.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    <div class="container">
      {% block content %}{% endblock %}
    </div><!--/container-->

    {% block javascripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">$(".github-navbar").tooltip({animation:true, placement:"bottom"})</script>
    {% endblock %}

  </body>
</html>


