<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        {% set page_title = page_title|default('') -%}<title>Voltaire | {{page_title}}</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="/static/css/voltaire.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Voltaire</a>
        <ul class="nav pull-left">

          {% block navbar %}

          {% set navigation_bar = [
            ('/', 'index', 'Home'),
            ('/blog', 'blog', 'Blog'),
            ('/forum', 'forum', 'Forum'),
            ('/map', 'map', 'Map'),
            ('/donate', 'donate', 'Donate'),
            ('/dash', 'dash', 'Dash'),
            ('/signup', 'signup', 'Apply')
          ] -%}
          {% set active_page = active_page|default('') -%}          

          {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          {% endblock %}

        </ul>

        <ul class="nav pull-right">
            <li><a data-toggle="tooltip" class="github-navbar" href="https://github.com/voltaire/minecraft-site" title="We're on GitHub!"><img src="/static/img/github_16px.png"></a></li>
        </ul>
      </div><!--/navbar-inner-->
    </div><!--/navbar-->

    <div class="container">
      {% block content %}{% endblock %}
    </div><!--/container-->

    {% block javascripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">$(".github-navbar").tooltip({animation:true, placement:"bottom"})</script>
    {% endblock %}

  </body>
</html>


