<h3>
    {#    {% if mcstatus.NUM_PLAYERS == 0 %} Nobody is being awesome right now.
    {% elif mcstatus.NUM_PLAYERS == 1 %} The Lone Ranger:
    {% elif mcstatus.NUM_PLAYERS > 1 %}{{ mcstatus.NUM_PLAYERS }} Minecrafters online now:
    {% endif %}#}
    {% if mcstatus.NUM_PLAYERS == 0 %}{{ mcstatus.NUM_PLAYERS }}/{{ mcstatus.MAX_PLAYERS }}{% endif %}
</h3>

{% for PLAYER in mcstatus.ONLINE_PLAYERS %}
<a href="#" class="avatars" data-placement="bottom" style="display:inline-block" data-toggle="tooltip" title="{{ PLAYER }}"><img src="https://minotar.net/helm/{{ PLAYER }}/60.png"></a>
{% endfor %}

<script type="text/javascript">$('.avatars').tooltip();</script>
